.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 5vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.navbar {
  background-color: lightskyblue;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.search-bar {
  background-color: #585d67;
  min-height: 100vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

nav {
  display: flex;
  align-items: center;
  padding: 1rem;
  background-color: #333; /* Background color for the navigation bar */
}

.nav-section {
  display: flex;
  justify-content: space-between;
  background-color: dodgerblue;
}

.nav-section:hover {
  display: flex;
  background-color: darkblue;
}

.nav-section a {
  color: #fff;
  text-decoration: none;
  margin-left: 1rem; /* Add space between links */
}
