/* @import "https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css"; */
.search-bar-container {
  position: relative;
  margin: 5% auto 0; /* 25% from the top, centered horizontally */
  /* position: fixed; */
  /* top: 25%; */
  /* left: 50%; */
  /* transform: translate(-50%, -50%); */
  display: flex;
  flex-wrap: wrap;
  width: 20em;
  min-height: 1.5em;
  background-color: lightblue;
  align-items: center;
  border: 0.05em solid #808080;
  gap: 0.5em;
  padding: 0.5em;
  border-radius: 0.25em;
  outline: none;
  /* z-index: 2; */
}

.search-bar-container:focus {
  border-color: hsl(225, 50%, 50%);
}

.value {
  flex-grow: 1;
}
/* className="flex-grow border border-solid border-gray-300 h-10 px-2 rounded-md outline-none transition duration-200 focus:border-black" */

.textbox {
  flex-grow: 1;
  border: 1px solid #f3f3f3;
  border-radius: 0.25em;
  height: 2rem;
  box-sizing: border-box;
  padding: 1px 10px;
  outline: none;
  transition: 0.2s ease-in-out;
}

.textbox:focus {
  transition: 0.2s ease-in-out;
  border: 1px solid black;
}

.clear-btn {
  background: none;
  color: #808080;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 0;
  font-size: 1.5em;
}
.clear-btn:focus,
.clear-btn:hover {
  color: #333;
}

.divider {
  background-color: #808080;
  align-self: stretch;
  width: 0.05em;
}

.ingredient-badge {
  display: flex;
  align-items: center;
  padding: 0.25rem;
  border: 1px solid #ccc;
  border-radius: 4px;
  background-color: #f3f3f3;
}

.ingredient-badge span {
  flex-grow: 1;
  padding: 0.25rem;
}

.ingredient-badge button {
  background: none;
  color: #808080;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 0;
  font-size: 1.5rem;
}

.ingredient-badge button:focus,
.ingredient-badge button:hover {
  color: #333;
}

.options {
  position: absolute;
  margin: 0;
  padding: 0;
  list-style: none;
  display: none;
  max-height: 15em;
  overflow-y: auto;
  border-radius: 0.25em;
  border: 0.05em solid #808080;
  width: 100%;
  left: 0;
  top: calc(100% + 0.25em);
  background-color: white;
  z-index: 100;
}

.options.hidden {
  visibility: hidden;
}

.options.show {
  display: block;
}

.option {
  padding: 0.25em 0.5em;
  cursor: pointer;
}

.option.highlighted {
  background-color: hsl(175 50% 75%);
}

.option.selected {
  background-color: hsl(175 50% 50%);
}
.option.highlight-selected {
  background-color: hsl(175 50% 75%);
  /* background-color: hsl(176, 32%, 75%); */
}
.option-badge {
  display: flex;
  align-items: center;
  border: 0.05em solid #808080;
  border-radius: 0.25em;
  padding: 0.15em 0.25em;
  gap: 0.25em;
  cursor: pointer;
  background: none;
  outline: none;
}
.option-badge:focus,
.option-badge:hover {
  background-color: lightcoral;
  border-color: red;
}

.search-results-container {
  position: relative;
  margin: 25% auto 0; /* 25% from the top, centered horizontally */
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  width: 85%;
  background-color: lightcoral;
  border: 0.1em solid black;
  overflow-y: auto;
  border-radius: 0.25em;
  /* outline: none; */
}

.search-result-card3 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  flex-basis: calc(33.33% - 5%); /* Adjusted for three cards in a row */
  border: 0.1em solid #000000;
  background-color: lightyellow;
  padding: 2%;
  gap: 1%; /* Adjusted for gap between elements */
  margin: 2%;
}

.search-result-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  flex-basis: calc(33.33% - 1em);
  border: 0.1em solid #000000; /* Adjusted with em values */
  background-color: lightyellow;
  padding: 0.5em;
  gap: 0.5em;
  margin: 0.5em;
  border-radius: 0.25em;
  /* outline: none; */
}
.search-result-ingredient-list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 0.25em;
  /* outline: none; */
}

.search-result-ingredient-list-element {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  text-overflow: ellipsis;
  border: 0.05em solid #808080;
  background-color: lightyellow;
  gap: 0.25em;
  padding: 0.15em 0.25em;
  margin: 0.15em 0.25em;
  border-radius: 0.25em;
  /* outline: none; */
  /* display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; */
}

/* Style for the container div */
.search-results-container3 {
  position: relative;
  margin: 25% auto 0; /* 25% from the top, centered horizontally */
  /* top: 25%; */
  /* left: 50%; */
  /* transform: translate(-50%, -50%); */
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  /* width: 75%; */
  width: 20em;
  background-color: lightcoral;
  border: 0.1em solid black;

  overflow-y: auto;
  /* z-index: 1; */
}

.search-result-card3 {
  display: flex;
  /* flex-direction: column; */
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  flex-basis: calc(33.33% - 1em);
  border: 0.1em solid #000000; /* Adjusted with em values */
  background-color: lightyellow;
  padding: 0.5em;
  gap: 0.5em;
  margin: 0.5em;
}
.search-result-card2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-basis: calc(33% - 85px);
  border: 2.5px solid #000000;
  background-color: lightcoral;
  padding: 15px;
  gap: 5px;
  margin: 20px;
}
/* Style for RecipeCard component */
.recipe-card {
  display: flex;
  flex-grow: 1;
  border: 1px solid #ccc;
  padding: 16px;
  margin: 16px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/* Style for the container div */
.results-container {
  position: fixed;
  top: 70%;
  left: 50%;
  transform: translate(-50%, -50%);
  min-height: 20em;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  background-color: lightyellow;
  gap: 0.5em;
  padding: 0.5em;
  border: 1px solid #ccc;
  border-radius: 4px;
  bottom: 25%;
  z-index: -1; /* Set a higher z-index */
}

/* Container for the results */
.results-container2 {
  display: grid;
  grid-template-columns: repeat(2, 1fr); /* 3 columns */
  grid-template-rows: repeat(2, 1fr); /* 3 rows */
  grid-gap: 10px; /* Adjust the gap between items as needed */
  max-height: 300px; /* Set a max height for the results */
  overflow-y: auto; /* Enable vertical scrolling when content exceeds max height */
  padding: 10px;
}

/* Style for individual result items */
.recipe-card2 {
  background: #f4f4f4;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}
.card {
  background-color: white;
  border-radius: 0.25rem;
  box-shadow: 0 0.5em 1em -0.125em rgba(10, 10, 10, 0.1),
    0 0px 0 1px rgba(10, 10, 10, 0.02);
  color: #4a4a4a;
  max-width: 100%;
  position: relative;
}

.card-header:first-child,
.card-content:first-child,
.card-footer:first-child {
  border-top-left-radius: 0.25rem;
  border-top-right-radius: 0.25rem;
}

.card-header:last-child,
.card-content:last-child,
.card-footer:last-child {
  border-bottom-left-radius: 0.25rem;
  border-bottom-right-radius: 0.25rem;
}

.card-header {
  background-color: transparent;
  align-items: stretch;
  box-shadow: 0 0.125em 0.25em rgba(10, 10, 10, 0.1);
  display: flex;
}

.card-header-title {
  align-items: center;
  color: #363636;
  display: flex;
  flex-grow: 1;
  font-weight: 700;
  padding: 0.75rem 1rem;
}

.card-header-title.is-centered {
  justify-content: center;
}

.card-header-icon {
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  background: none;
  border: none;
  color: currentColor;
  font-family: inherit;
  font-size: 1em;
  margin: 0;
  padding: 0;
  align-items: center;
  cursor: pointer;
  display: flex;
  justify-content: center;
  padding: 0.75rem 1rem;
}

.card-image {
  display: block;
  position: relative;
}

.card-image:first-child img {
  border-top-left-radius: 0.25rem;
  border-top-right-radius: 0.25rem;
}

.card-image:last-child img {
  border-bottom-left-radius: 0.25rem;
  border-bottom-right-radius: 0.25rem;
}
.card-content {
  background-color: transparent;
  padding: 1.5rem;
}

.card-equal-height {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.card-equal-height .card-content {
  flex-grow: 1;
}
.card-footer {
  background-color: transparent;
  border-top: 1px solid #ededed;
  align-items: stretch;
  display: flex;
}

.card-footer-item {
  align-items: center;
  display: flex;
  flex-basis: 0;
  flex-grow: 1;
  flex-shrink: 0;
  justify-content: center;
  padding: 0.75rem;
}

.card-footer-item:not(:last-child) {
  border-right: 1px solid #ededed;
}

/* Custom CSS to add an "is-active" mode for card-footer-item class */
.card-footer-item.is-active {
  background-color: #6283b7;
  color: #ffffff; /* Adjust text color for better visibility on the blue background */
  /* Add any other styles you want for the active state */
}

/* Active status for footer tabs on RecipeCard component */
/* .card-footer-item.active {
  background-color: #3273dc;
  color: #ffffff;
} */

/* .recipe-card {
  position: relative;
  width: 20em;
  min-height: 1.5em;
  display: flex;
  background-color: lightblue;
  align-items: center;
  border: 0.05em solid #808080;
  gap: 0.5em;
  padding: 0.5em;
  border-radius: 0.25em;
} */

/* .options .li {
  font-size: ;
} */
/* 
.searchText {
  border: 1px solid #f3f3f3;
  height: 2rem;
  box-sizing: border-box;
  padding: 1px 10px;
  outline: none;
  transition: 0.2s ease-in-out;
}

.searchText:focus {
  transition: 0.2s ease-in-out;
  border: 1px solid blue;
}

.suggestions {
  flex-direction: column;
  overflow-y: scroll;
  border: 1px solid #f3f3f3;
  background-color: white;
  max-height: 20rem;
  height: fit-content;
  z-index: 10;
}

.suggestions.hidden {
  visibility: hidden;
}

.suggest {
  cursor: pointer;
  box-sizing: border-box;
  padding: 1px 10px;
  height: 2rem;
  display: flex;
  align-items: center;
}

.suggest:hover {
  background-color: #f3f3f3;
}

.resultsContainer {
  display: flex;
}

.searchItem {
  background-color: #f3f3f3;
}

.suggestionGrid {
  display: grid;
  grid-template-columns: repeat(
    auto-fill,
    minmax(200px, 1fr)
  ); 
  gap: 10px; 
  background-color: salmon;
}

.suggestionGrid {
  display: flex; 
  flex-direction: row; 
  gap: 10px; 
  background-color: salmon;
}

.resultList {
  list-style-type: none; 
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
} 

.resultList {
  list-style-type: none; 
  padding: 0;
  display: flex;
  flex-direction: column; 
  align-items: center;
  flex-grow: 1; 
}

.resultList li {
  width: 100%;
  margin-bottom: 10px;
  padding: 5px; 
  border: 1px solid #ccc;
  background-color: #f0f0f0; 
  flex-grow: 1; 
}

.resultList li {
  flex: 1; 
  margin-bottom: 10px;
  padding: 5px;
  border: 1px solid #ccc; 
  background-color: #f0f0f0; 
  display: flex; 
  align-items: center; 
}
.resultList li.description {
  flex: 1; 
  white-space: nowrap; 
  overflow: hidden;
  text-overflow: ellipsis; 
}  */
